<aside>
    <h1>Fileinfo</h1>
</aside>
<main class="info">
{{#if File }}
<div><h2>id:</h2>{{id}}</div>
<div><h2>name:</h2>{{name}}</div>
<div><h2>path:</h2>{{path}}</div>
<div><h2>size:</h2>{{size}}</div>
<div><h2>type:</h2>{{type}}</div>
<div><h2>savedate:</h2>{{lastModifiedDate}}</div>
{{/if}}
</main>